{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block title %}
    {% if tag %}
        {{ self.title }}: {{ tag }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="py-16 bg-base-100">
        <div class="container mx-auto">
            {% if not tag %}
                {% include "base/include/header-index.html" %}
            {% endif %}

            <div class="text-center mb-12">
                <h1 class="text-4xl md:text-6xl font-bold mb-4">Blog</h1>
                {% if tag %}
                    <p class="text-lg text-gray-500">Viewing all blog posts tagged with <span class="text-primary">{{ tag }}</span>.</p>
                {% endif %}
            </div>

            {% if page.get_child_tags %}
                <div class="flex justify-center mb-8">
                    <ul class="flex flex-wrap gap-2">
                        <li>
                            <span class="btn btn-sm btn-primary">All</span>
                        </li>
                        {% for tag in page.get_child_tags %}
                            <li>
                                <a class="btn btn-sm btn-outline" href="{{ tag.url }}">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {% if posts %}
                    {% for blog in posts %}
                        {% include "includes/card/blog-listing-card.html" %}
                    {% endfor %}
                {% else %}
                    <div class="col-span-full text-center">
                        <p class="text-lg text-gray-500">Oh, snap. Looks like we were too busy baking to write any blog posts. Sorry.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
