{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

<div class="card card-compact bg-base-100 w-96 shadow-xl">
    <a href="{% pageurl blog %}" class="hover:opacity-90 transition-opacity">
        {% if blog.image %}
            <figure class="relative">
                {% picture blog.image format-{avif,webp,jpeg} fill-372x247-c100 class="w-full h-64 object-cover rounded-t-lg" loading="lazy" %}
            </figure>
        {% endif %}
        <div class="card-body">
            <h2 class="card-title text-2xl font-bold text-neutral-content">{{ blog.title }}</h2>
            {% if blog.introduction %}
                <p class="text-base-content mb-4">{{ blog.introduction|truncatewords:15 }}</p>
            {% endif %}
            <div class="card-actions justify-between items-center">
                <p class="text-sm text-gray-400">
                    {% if blog.date_published %}
                        {{ blog.date_published|date:"F j, Y" }} by
                    {% endif %}
                    {% for author in blog.authors %}
                        {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </a>
</div>
