<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost normal-case">
      Theme
      <svg
          width="12px"
          height="12px"
          class="inline-block h-2 w-2 fill-current opacity-60 ml-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048">
          <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
      </svg>
  </div>
  <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-[1] w-52 p-2 shadow-xl">
      <li>
          <label class="cursor-pointer">
              <input type="radio" name="theme-dropdown" value="default" class="theme-controller hidden" />
              Default
          </label>
      </li>
      <li>
          <label class="cursor-pointer">
              <input type="radio" name="theme-dropdown" value="light" class="theme-controller hidden" />
              Light
          </label>
      </li>
      <li>
          <label class="cursor-pointer">
              <input type="radio" name="theme-dropdown" value="business" class="theme-controller hidden" />
              Business
          </label>
      </li>
      <li>
          <label class="cursor-pointer">
              <input type="radio" name="theme-dropdown" value="black" class="theme-controller hidden" />
              Black
          </label>
      </li>
      <li>
          <label class="cursor-pointer">
              <input type="radio" name="theme-dropdown" value="forest" class="theme-controller hidden" />
              Forest
          </label>
      </li>
  </ul>
</div>    