{% load wagtailimages_tags %}
<div class="container rounded-lg bg-base-300 border-base-100 not-prose mb-8">
    <blockquote class="relative p-4 text-xl italic text-accent">
        <div class="stylistic-quote-mark sm:block" aria-hidden="true">
            &ldquo;
        </div>
        <p class="mb-4 p-4 font-serif">{{ self.text }}</p>
        <cite class="flex items-center">
            <div class="flex flex-col items-start">
                <span class="mb-1 text-sm font-bold text-secondary">
                    – {{ self.attribute_name }}
                </span>
            </div>
        </cite>
    </blockquote>
</div>